 /*************** Mobile First - no grid Support - Landscape ***************/
:root {
    --base: #000505;
    --spacing: 30px;
    --blur: 0px;
    --invert: 0%;
    --brightness: 100%;
    --contrast: 100%;
    --grayscale: 0%;
    
    --opacity: 100%;
    --saturate: 100%;
    --sepia: 0%;
    --hue-rotate: 0;
    width: 100vw;
    height: 100vh;
}

/******* Text Styles *******/
.h1 {
    color: var(--base);
}

/******* Image Styles *******/

img {
  margin-bottom: 0;
  margin-top: 2vh;
  width: 70vw;
  border-radius: 0.5em;
  padding: 2vw;
  background: var(--base);
  filter: blur(var(--blur)) invert(var(--invert)) brightness(var(--brightness)) contrast(var(--contrast)) opacity(var(--opacity)) saturate(var(--saturate)) sepia(var(--sepia)) grayscale(var(--grayscale)) hue-rotate(var(--hue-rotate));
}


/******* Layout Styles *******/
body {
  text-align: center;
  background: #3B3355;
  color: #FEFCFD;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  height: 100%;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 4vh;
}


/******* Nav Styles *******/
.returnHome {
    height: 1.5em;
    width: 1.5em;
    top: 4vh;
    left: 4vw;
    position: fixed;
    font-size: 1.5em;
    color: #5D5D81;
    background-color: #BFCDE0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    z-index: 1;
}
  
.returnHome a {
    text-decoration: none;
    color: inherit;
}

.controls {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
}

input {
  width:100px;
  margin: 1.5vh 5vw;
}

/*************** Mobile First - no grid Support - Landscape ***************/




/*************** With grid Support ***************/

@supports (display: grid) {
    



}




/*************** Media Query Small Screen ***************/
@media screen and (min-width: 651px) {

    /******* Text Styles *******/
    h2 {
      margin-bottom: 2vh;
      margin-top: 4vh;
      font-size: 5em;
    }
    
    
    /******* Image Styles *******/
    img {
        height: auto;
        width: 80vw;
    }
    
    /******* Layout Styles *******/
    .controls {
      padding: 0vw 6vw;
      width: unset;
      flex-direction: unset;
      padding-bottom: 4vh;
      font-size: 2em;
    }
    
    
    /******* Nav Styles *******/

    .returnHome {
      height: 6vw;
      width: 6vw;
      top: 6vh;
      left: 6vw;
      font-size: 6vw;
    }
/*************** With grid Support ***************/

}
/*************** Media Query Medium Screen ***************/
@media screen and (min-width: 851px) {

    /******* Text Styles *******/

    h2 {
     font-size: 4em;
      margin-top: 2vh;
    }
    
    /******* Image Styles *******/

    img {
      margin-top: 0;
    }
    /******* Layout Styles *******/
    .returnHome {
      top: 4vh;
      left: 4vw;
    }

    /******* Nav Styles *******/



/*************** With grid Support ***************/




}
/*************** Media Query Large Screen ***************/
@media screen and (min-width: 1201px) {

    /******* Text Styles *******/
    h2 {
      margin-top: 1em;
    }
    
    /******* Image Styles *******/
    img {
      width: 60vw;
      height: auto;
    }
    
    /******* Layout Styles *******/
    .returnHome {
        top: 4vh;
        left: 4vw;
        font-size: 3em;
        height: 1.5em;
        width: 1.5em;
    }
    
    .controls {
      margin-top: 0;
    }
    /******* Nav Styles *******/
    
    
    /*************** With grid Support ***************/



}






