 /*************** Mobile First - no grid Support - Landscape ***************/
:root {
    --base: #000505;
    --spacing: 30px;
    --blur: 0px;
    --invert: 0%;
    --brightness: 100%;
    --contrast: 100%;
    --grayscale: 0%;
    --opacity: 100%;
    --saturate: 100%;
    --sepia: 0%;
    --hue-rotate: 0;
}

/******* Text Styles *******/
.h1 {
    color: var(--base);
}

/******* Image Styles *******/

img {
  width: 70vw;
  height: auto;
  border-radius: 0.5em;
  padding: 2vw;
  background: var(--base);
  filter: blur(var(--blur)) invert(var(--invert)) brightness(var(--brightness)) contrast(var(--contrast)) opacity(var(--opacity)) saturate(var(--saturate)) sepia(var(--sepia)) grayscale(var(--grayscale)) hue-rotate(var(--hue-rotate));
}


/******* Layout Styles *******/
body {
    text-align: center;
    background: #3B3355;
    color: #FEFCFD;
    font-family: 'Lobster', cursive;
    font-weight: 100;
    font-size: 1em;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h2 {
  font-size: 2em;
  margin: 0.5em;
}

.controls {
    justify-content: center;
}

/******* Nav Styles *******/
.returnHome {
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    color: #5D5D81;
    background-color: #BFCDE0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    z-index: 1;
    margin: 0.5em;
}
  
.returnHome a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.controls {
    flex-direction: column;
}

input {

}

/*************** Mobile First - no grid Support - Landscape ***************/




/*************** With grid Support ***************/

@supports (display: grid) {
    



}




/*************** Media Query Small Screen ***************/
@media screen and (min-width: 381px) {

    /******* Text Styles *******/
    h2 {
      font-size: 2em;
    }
    
    /******* Image Styles *******/

    /******* Layout Styles *******/
    .wrapper {
        justify-content: space-evenly;
    }
    
    .container {
        flex-direction: column;
        justify-content: center;
    }
    
    .controls {
        width: 70%;
        margin-top: 1em;
    }
    
    /******* Nav Styles *******/


/*************** With grid Support ***************/

}
/*************** Media Query Medium Screen ***************/
@media screen and (min-width: 600px) {

    /******* Text Styles *******/
    h2 {
       font-size: 2em;
    }

    
    /******* Image Styles *******/
    img {
        width: 50vw;
        height: auto;
    }

    /******* Layout Styles *******/
    
    .controls {
        justify-content: space-between;
    }

    /******* Nav Styles *******/



/*************** With grid Support ***************/




}
/*************** Media Query Large Screen ***************/
@media screen and (min-width: 1001px) {

    /******* Text Styles *******/
    
    body {
        font-size: 1.5em;
    }
    
    /******* Image Styles *******/

    
    /******* Layout Styles *******/

    

    /******* Nav Styles *******/
    
    
    /*************** With grid Support ***************/



}

/*************** Media Query Large Screen ***************/
@media screen and (min-width: 1301px) {

    /******* Text Styles *******/
    h2 {
        margin: 0px;
    }
    /******* Image Styles *******/
    img {

    }
    
    /******* Layout Styles *******/
    .wrapper {
        flex-direction: row; 
    }
    .container {
        
    }
    
    .controls {
        flex-direction: column; 
        width: 30vw;
    }
    

    /******* Nav Styles *******/
    
    
    /*************** With grid Support ***************/



}






