/*************** Mobile First - no grid Support - Landscape ***************/

/******* Text Styles *******/
h1,h5{
    font-family: 'Abril Fatface', cursive;
    font-size: 150%;
    padding: 0 2em;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    padding: 0 2em;
}

a {
    text-decoration: none;
    color:inherit;
    opacity: 0.7;
}

a:hover{
        opacity: 1;
}

.header h1, p {
    margin: 0;
}

/******* Image Styles *******/
.avatar {
    width: 70vw;
    height: auto;
    border-radius: 6px;
    margin: 5px;
    /*clip-path: circle(22vw at 25vw 13vh);*/
}

/******* Layout Styles *******/
body {
    margin: 0;
    width: 100%;
    height: 100%;
	padding: 0;
}

#pageOne {
    text-align: center;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    top: 0;
}


.container {
    position:absolute;
    top: 100vh;
    width: 100vw;
    height: auto;
    text-align: center;
}




/******* Nav Styles *******/

nav {
    display: flex;
}

ul {
    margin: auto;
    padding: 0;
}

.returnHome {
    visibility: hidden;
    position: absolute;
    top: 10vh;
    left: 5vw;
    color: white;
}

.returnHome i {
    font-size: 2em;
}

.returnHome i:hover{
    opacity: 0.8;
    font-size: 2em;
}


/* Social Nav - text not displayed on mobile */
.socialNav {
    display: none;
}

.logo {
    width: 5vw;
    padding: 2px;
    margin: auto;
}

#socialNav nav li {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

/* Page Nav - text not displayed on mobile */
#pageNav {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageNav nav {
    display: flex;
}

.pageName {
    display: none;
}

#pageNav nav li {
    display: block;
    overflow: hidden;
    width: 90vw;
    height: 30vh;
    margin: 5vw auto;
    background: 50% 50% no-repeat;

}

#pageNav nav li a {
    width: 100%;
    height: 100%;
    display: block;

}

.projectPlaceholder {
   display: none;
}
/*************** Mobile First - no grid Support - Landscape ***************/




/*************** With grid Support ***************/

@supports (display: grid) {
    



}




/*************** Media Query Small Screen ***************/
@media screen and (min-width: 651px) {

    /******* Text Styles *******/
    h1 {
        font-size: 3em;
    }
    
    p {
        font-size: 1.4em;
    }
    
    button {
        font-size: 1.5em;
    }
    
    
    /******* Image Styles *******/
    .avatar {
        height: 30vw;
        width: auto;
        /*clip-path: circle(17vw at 20vw 13vh);*/
    }
    
    
    /******* Layout Styles *******/
    
    
    
    /******* Nav Styles *******/
    .returnHome i {
        font-size: 4em;
    }


/*************** With grid Support ***************/

}

/*************** Media Query Medium Screen ***************/
@media screen and (min-width: 1201px) {

    /******* Text Styles *******/
    h1 {
      padding: 0 6em;
    }
    
    p {
      padding: 0 8em;
    }
    
    button {
        font-size: 1.5em;
    }
    
    
    /******* Image Styles *******/
    .avatar {
        height: 25vh;
        width: auto;
        /*clip-path: circle(17vw at 20vw 13vh);*/
    }
    
        
   
    
    /******* Layout Styles *******/
    
    
    
    /******* Nav Styles *******/
   .socialNav {
      display: inline-block;
   }
   
   .logo {
      width: 3vw;
      padding: 2px;
      margin: auto;
   }
} 
    
    /*
    #pageNav nav li {
        justify-content: space-around;
        items-align: center;
        list-style: none;
        margin: 3vw;
        width: 80vw;
        height: 80vw;
        overflow: hidden;
    }
    
    .projectPlaceholder {
        height: 100%;
        items-align: center;
    }
    */


/*************** With grid Support ***************/





/*************** Media Query Large Screen ***************/


/******* Text Styles *******/



/******* Image Styles *******/



/******* Layout Styles *******/



/******* Nav Styles *******/


/*************** With grid Support ***************/
