/*************** Mobile First - no grid Support - Landscape ***************/

* {
   box-sizing: border-box;
}
/******* Text Styles *******/
h1,h5{
    font-family: 'Abril Fatface', cursive;
    font-size: 150%;
    padding: 0 2em;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    padding: 0 2em;
}

a {
    text-decoration: none;
    color:inherit;
    opacity: 0.7;
}

a:hover{
        opacity: 1;
}

.header h1, p {
    margin: 0;
}

/******* Image Styles *******/
.avatar {
    width: 70vw;
    height: auto;
    border-radius: 6px;
    margin: 5px;
    /*clip-path: circle(22vw at 25vw 13vh);*/
}

/******* Layout Styles *******/
body {
    margin: 0;
    width: 100%;
    height: 100%;
	padding: 0;
}

#pageOne {
    text-align: center;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    top: 0;
}

iframe {
   width: 100vw;
   height: 100vh;
}


.container {
    position:absolute;
    top: 100vh;
    width: 100vw;
    height: auto;
    text-align: center;
}

.video-list__number {
    background: rgba(0,0,0,1);
    color: #fff;
    top: 0;
    left: 0;
    line-height: 2rem;
    display: inline-block;
    padding: 0.2rem 0.7rem;
    text-align: center;
    font-size: 1rem;
    float: left;
}


/******* Nav Styles *******/

nav {
   display: flex;
}

ul {
   margin: auto;
   padding: 0;
}

#slideOutMenu {
   display: none;
}

#returnHome {
   visibility: hidden;
   position: fixed;
   top: 2vh;
   left: 2vw;
   font-size: 1em;
   color: rgba(255, 255, 255, 0.9);
   width: 3em;
   height: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(15, 0, 26, 0.8);
   border-radius: 10%;
}

#returnHome i {
   font-size: 2em;
}


/* Social Nav - text not displayed on mobile */
.socialNav {
    display: none;
}

.logo {
    width: 5vw;
    padding: 2px;
    margin: auto;
}

#socialNav nav li {
    list-style: none;
    margin: 5px;
    display: inline-block;
}

/* Page Nav - text not displayed on mobile */
#pageNav {
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageNav nav {
    display: flex;
}

.pageName {
    display: none;
}

#pageNav nav li {
    display: block;
    overflow: hidden;
    width: 90vw;
    height: 20vh;
    margin: 5vw auto;
    background: 50% 50% no-repeat;

}

#pageNav nav li a {
    width: 100%;
    height: 100%;
    display: block;

}

.projectPlaceholder {
   display: none;
}

   .projectButton:hover {
      border: solid #282828 0.5em;
   }



/*************** Mobile First - no grid Support - Landscape ***************/




/*************** With grid Support ***************/

@supports (display: grid) {
    



}




/*************** Media Query Small Screen ***************/
@media screen and (min-width: 651px) {

    /******* Text Styles *******/
    h1 {
        font-size: 3em;
    }
    
    p {
        font-size: 1.4em;
    }
    
    button {
        font-size: 1.5em;
    }
    
    
    /******* Image Styles *******/
    .avatar {
        height: 30vw;
        width: auto;
        /*clip-path: circle(17vw at 20vw 13vh);*/
    }
    
    
    /******* Layout Styles *******/
    #pageNav nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }
    
    #pageNav nav li {
      min-width: 20vw;
      min-height: 20vw;
      flex: 1;
      margin: 2vw;
      background-size: cover;
    }
    
    
    /******* Nav Styles *******/
    .returnHome i {
        font-size: 4em;
    }
    
   .projectButton:hover {
      border: solid darkgrey 1em;
   }

/*************** With grid Support ***************/

}

/*************** Media Query Medium Screen ***************/
@media screen and (min-width: 1201px) {

    /******* Text Styles *******/
    h1 {
      padding: 0 6em;
    }
    
    p {
      padding: 0 8em;
    }
    
    button {
        font-size: 1.5em;
    }
    
    
    /******* Image Styles *******/
    .avatar {
        height: 25vh;
        width: auto;
        /*clip-path: circle(17vw at 20vw 13vh);*/
    }
    
        
   
    
    /******* Layout Styles *******/
    
    
    
    /******* Nav Styles *******/
   .socialNav {
      display: inline-block;
   }
   
   .logo {
      width: 3vw;
      padding: 2px;
      margin: auto;
   }
} 
    
    /*
    #pageNav nav li {
        justify-content: space-around;
        items-align: center;
        list-style: none;
        margin: 3vw;
        width: 80vw;
        height: 80vw;
        overflow: hidden;
    }
    
    .projectPlaceholder {
        height: 100%;
        items-align: center;
    }
    */


/*************** With grid Support ***************/





/*************** Media Query Large Screen ***************/


/******* Text Styles *******/



/******* Image Styles *******/



/******* Layout Styles *******/



/******* Nav Styles *******/


/*************** With grid Support ***************/
